@import 'reset.css';
@import 'nav.css';
@import 'header.css';

.dashboard__container{
    width: 90%;
    margin: 10rem auto;
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: blue; */
}

.dashboard__group-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container__title{
    display: flex;
    flex-direction: column;
}

.dashboard-title{
    color: var(--text-color);
    font-weight: var(--bold);
    font-size: var(--h1-font-size);
}

.dashboard-subtitle{
    color: var(--light-text-color);
    font-size: var(--normal-font-size);
    column-gap: 2rem;
}

.container-btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1rem;
}

.add-btn{
    background-color: var(--pink);
    color: var(--white);
    border-radius: 10px;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    column-gap: .5rem;
    font-weight: var(--semi-bold);
    font-size: var(--normal-font-size);
    cursor: pointer;
    transition: background .3s;
}

.add-btn:hover{
    background-color: var(--hover-color);
}

/* details[open]{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

summary::marker {
    content: "";
    display: none;
}

summary::after {
    background: var(--pink);
    border-color: var(--pink);
    border-radius: 15px;
    content: "...";
    color: #fff;
    float: left;
    font-size: 1.2em;
    font-weight: bold;
    padding: 1rem 1.2rem;
    text-align: center;
    width: 30px;
    height: 100%;
    cursor: pointer;
    transition: background .3s;
}

summary:hover::after{
    background: var(--hover-color);
}

details[open] > summary::marker {
    display: none;
    content: "";
} */

.config-btn, .download-btn{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.dashboard__group-two{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: var(--mb-2);
}

.data__cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    box-shadow: var(--box-shadow-2);
}

.data__cards-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    text-align: center;
    background-color: var(--card-color);
    box-shadow: var(--box-shadow-2);
    padding: 1.25rem 2.625rem;
}

.card-icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-icon{
    font-size: var(--h1-font-size);
}

#user-card{
    background-color: #F8F5FD;
}

.card-icon-1{
    color:#6F52ED;
}

#followers-card{
    background-color: #F1FCF8;
}
.card-icon-2{
    color:#3BC0CD;
}

#heart-card{
    background-color: #FFFAED;
}
.card-icon-3{
    color:#FFB800;
}

#time-card{
    background-color: #F2FAFF;
}
.card-icon-4{
    color:#4CB8FF;
}

#unfollow-card{
    background-color: #FFF6F7;
}

#new-streams-card{
    background-color: #F2FAFF;
}
.card-icon-6{
    color:#4CB8FF;
}

.card-text{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.card-number{
    font-weight: var(--bold);
    font-size: var(--h2-font-size);
}

.card-description{
    font-size: var(--small-font-size);
    font-weight: var(--semi-bold);
}

@media (max-width:350px){
    .dashboard__group-one{
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .container-btns{
        justify-content: center;
    }

    .add-btn{
        padding: 1rem 3rem;
        flex-direction: row;
        justify-self: flex-end;
        align-self:flex-end;
    }
    
    .dashboard-subtitle{
        white-space: wrap;
    }

    .data__cards{
        display: grid;
        grid-template-columns: 300px;
        justify-content: center;
    }
}

@media (min-width:600px){
    .data__cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
    }

    .data__cards-item{
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
    }

    .card-description{
        flex-wrap: wrap;
        white-space: wrap;
    }

    .card-text{
        width: 90px;
    }
}

@media (min-width:1026px){
    .dashboard__container{
        margin: 10rem auto;
        padding-left: 6rem;
    }
}


  /* .chartCard {
    width: 90%;
    height: calc(100vh - 40px);
    background: var(--card-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--mb-3);
  }
  .chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(255, 26, 104, 1);
    background: var(--card-color);
  } */

  .chartMenu {
    width: 100%;
    height: 40px;
    background: #1A1A1A;
    color: rgba(255, 26, 104, 1);
  }
  .chartMenu p {
    padding: 10px;
    font-size: 20px;
  }
  .chartCard {
    width: 100%;
    height: calc(100vh - 40px);
    background: rgba(255, 26, 104, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .chartBox {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    border: solid 3px rgba(255, 26, 104, 1);
    background: white;
  }