.search__content{
    margin-top: 150px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search{
    background-color: var(--search-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.5rem;
    height: 65px;
    width: 850px;
    border-radius: 50px;
    box-shadow: var(--box-shadow-2);
}

.search__input{
    width: 100%;
    padding-left: 1rem;
    font-size: var(--h3-font-size);
    color: var(--text-color);
    background-color: var(--search-color);
}

.search__input::placeholder{
    color: var(--sidebar-icons-color);
}

.search__icon{
    color: var(--sidebar-icons-color);
    font-size: var(--h3-font-size);
    cursor: pointer;
}

.container{
    width: 91%;
    margin-top: var(--mb-2);
    margin-left: 159px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: blueviolet; */
}

.group-one, .group-two{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-start;
    column-gap: 2rem;
    margin-bottom: var(--mb-2);
}

.title{
    font-size: var(--h1-font-size);
    font-weight: var(--bold);
    padding-bottom: .25rem;
}

.swiper {
    width: 870px;
    height: 493px;
    border-radius: 20px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

span.swiper-pagination-bullet{
    background-color: rgba(255,255,255,.8);
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--white);
    opacity: 1;
}

.swiper__content{
    position: absolute;
    top: 60%;
    left: 50px;
    color: var(--white);
}

.slide__subtitle{
    text-transform: uppercase;
    padding-bottom: .4rem;
    font-weight: var(--semi-bold);
    font-size: var(--normal-font-size);
    font-family: var(--source-sans);
    text-shadow: 1px 1px 2px #212121;
}

.slide__title{
    padding-bottom: .4rem;
    font-weight: var(--bold);
    font-size: var(--biggest-font-size);
    font-family: var(--source-sans);
    text-shadow: 1px 1px 2px #212121;
}

.slide__author{
    font-weight: var(--semi-bold);
    font-size: var(--h2-font-size);
    font-family: var(--source-sans);
    text-shadow: 1px 1px 2px #212121;
}

.artist__content{
    display: flex;
    flex-direction: column;
}

.artist__box{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.artist__content-left{
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: flex-start;
    align-self: flex-start;
}

.artist__img{
    display: block;
    border-radius: 10px;
    width: 226px;
    height: 493px;
    object-fit: cover;
}

.artist__content-right{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.artist__subtitle{
    text-transform: uppercase;
    font-weight: var(--semi-bold);
    font-size: var(--normal-font-size);
    font-family: var(--source-sans);
    margin-bottom: var(--mb-0-25);
}
.artist__title{
    font-weight: var(--bold);
    font-size: var(--biggest-font-size);
}
.artist__name, .artist__description{
    color: var(--light-text-color);
    margin-bottom: var(--mb-0-25);
}

.artist__name{
    font-weight: var(--semi-bold);
    font-size: var(--h1-font-size);
}

.artist__description{
    line-height: 1.5rem;
}

.album__table{
   margin-top: var(--mb-0-25);
   width: 100%;
}

.table-row{
    cursor: pointer;
}

.table-row td{
    padding: 1rem;
}

.track-title{
    font-weight: var(--semi-bold);
    cursor: text;
}

.track-listeners{
    text-align: center;
}

.thumbs-up, .track-download, .track-share, .track-more{
    cursor: pointer;
}

.thumbs-up:hover, .track-download:hover, .track-share:hover, .track-more:hover{
    color: var(--pink);
}

.album__link{
    align-self: center;
    color: var(--text-color);
    font-weight: var(--semi-bold);
}

.album__link:hover{
    color: var(--pink);
}

.selected{
    background-color: var(--selected-color);
}

.news__content{
    margin-bottom: var(--mb-1);
}

.news__card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.card-item{
    width: 275px;
    height: 136px;
    border-radius: 10px;
    position: relative;
    text-shadow: 1px 1px 2px #212121;
    cursor: pointer;
    
}

.span-2{
    width: 573px;
    grid-column: span 2;
}

.news__image{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.news__image img{
    width: 100%;
    height: 100%;
}

.card-content{
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: var(--white);
}

.tabs__wrap{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}


.tabs__wrap input:checked+label {
    border: 3px solid var(--purple);
}

.genres__profile{
    animation: opacity 2s;
    
}

.genres__profile ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes opacity{
    0%{
        margin-top: -20px;
        opacity: 0;
    }

    100%{
        margin-top: 0px;
        opacity: 1;
    }
}

/* genres changing */

#blues_container {
    display: flex;
}

#sertanejo_container {
    display: none;
}

#metal_container {
    display: none;
}

#country_container {
    display: none;
}

#soul_container {
    display: none;
}

#eletronic_container {
    display: none;
}

#hip_hop_container {
    display: none;
}

.data-tabs{
    border: 2px solid var(--black-color);
    padding:1rem 1.5rem;
    margin-bottom: 40px;
    margin-right: 1rem;
    border-radius: 15px;
    background: var(--card-color);
    color: var(--text-color);
    cursor: pointer;

}

.data-tabs:hover{
    background-color: var(--purple);
    border: 2px solid var(--purple);
    color: var(--white);
}

.item__wrap{
    background: transparent;
    text-align: center;
    padding-right: 3rem;
}

.item{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: .5rem;
    cursor: pointer;
    border: 1px solid var(--white);
}

.item:hover{
  filter: var(--profile-filter)
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Galaxy Tab 2 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {
    .container{
      margin-left: 100px;
      background-color: blueviolet;
    }
    .group-one, .group-two{
      flex-direction: column;
      justify-content: flex-start;
      align-self: flex-start;
      column-gap: 2rem;
      margin-bottom: var(--mb-2);
    }

    .swiper {
      max-width: 80%;
      height: 493px;
      border-radius: 20px;
    }

    .artist__box{
      flex-direction: column;
      row-gap: 2rem;
    }

    .artist__content-left{
      flex-direction: column;
      row-gap: 2rem;
    }

    .artist__subtitle{
      text-transform: uppercase;
      font-weight: var(--semi-bold);
      font-size: 12px;
      font-family: var(--source-sans);
      margin-bottom: var(--mb-0-25);
    }

    .artist__title{
        font-weight: var(--bold);
        font-size: var(--biggest-font-size);
    }
    
    .artist__name, .artist__description{
        color: var(--light-text-color);
        margin-bottom: var(--mb-0-25);
    }

    .artist__name{
        font-weight: var(--semi-bold);
        font-size: var(--h1-font-size);
    }

    .artist__description{
      font-size: var(--normal-font-size);
        line-height: 1.5rem;
    }

    .news__card{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 1rem;
    }

    .card-item{
      width: 400px;
      grid-column: span 2;

    }

    .span-2{
      width: 400px;
    }
    .tabs__wrap{
      display: flex;
      margin-top: 20px;
      margin-bottom: 30px;
  }

  .album__table{
    overflow-x:auto
  }

  .table-row{
    font-size: 11px;
  }
  .table-row td{
    padding: .5rem;
  }


}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape) { 

}

/* ----------- Galaxy Tab S ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media 
  (max-device-width: 800px) 
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Landscape */
@media 
  (max-device-width: 1280px) 
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) { 

}