@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700;900&family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root{
    /* Colors */
    --body-color: #EFF3F9;
    --text-color:#4F4F4F;
    --light-text-color: rgba(79, 79, 79,.7);
    --numbers-color:#979797;
    --card-color:#FDFDFF;
    --sidebar-color:#FDFDFF;
    --sidebar-icons-color:#c3c3c3;
    --selected-color:#FDFDFF;
    --hover-color:#7F7FD5;
    --logo-background:linear-gradient(120deg, #7F7FD5 0%, #E786D7 100%);;
    --logo-color: #ffff;
    --pink:#df6ecc;
    --purple:#7F7FD5;
    --sun-icon:#f0ab3b;
    --moon-icon:#ebca46;
    --separator-color:#EFF4F6;
    --search-color:#ffffff;
    --white:#ffffff;
    --black-color:#373B53;
    --svg-filter: invert(28%) sepia(15%) saturate(19%) hue-rotate(354deg) brightness(96%) contrast(84%);
    --profile-filter:brightness(.5);

    /* Box-Shadows */
    --box-shadow-1:0 7px 30px -10px rgba(150,170,180,0.5);
    --box-shadow-2: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);

    /* Font-family */
    --heebo: 'Heebo', sans-serif;
    --source-sans:'Source Sans Pro', sans-serif;

    /* Font-size */
    --extra-big-font-size:3.125rem;
    --biggest-font-size:2.5rem;
    --large-font-size:1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem; 
    --normal-font-size: .938rem;
    --small-font-size: .875rem;
    --smaller-font-size: .75rem;

    /* Font weight */
    --semi-bold:600;
    --bold:700;
    --black:900;

    /* Z-index */
    --z-tooltip:10;
    --z-fixed:100;

    /* Margin-bottom */
    --mb-0-25:.25rem;
    --mb-0-5:.5rem;
    --mb-0-75:.75rem;
    --mb-1:1rem;
    --mb-1-25:1.25rem;
    --mb-1-5:1.5rem;
    --mb-2:2rem;
    --mb-2-5:2.5rem;
    --mb-3:3rem;
}

body{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--body-color);
    color: var(--text-color);
    /* overflow-x: hidden; */
}

body.dark-theme{
    --body-color: #212427;
    --text-color:#CACACA;
    --light-text-color: rgba(202, 202, 202,.7);
    --numbers-color:#979797;
    --card-color:#282C31;
    --sidebar-color:#282C31;
    --selected-color:#282C31;
    --sidebar-icons-color:#CACACA;
    --hover-color:#7F7FD5;
    --pink:#E786D7;
    --purple:#7F7FD5;
    --search-color: #282C31;
    --svg-filter: invert(100%) sepia(0%) saturate(54%) hue-rotate(334deg) brightness(116%) contrast(100%);
    --box-shadow-1:0 7px 12px -10px rgba(150,170,180,0.5);
    --box-shadow-2: 0 5px 5px rgba(154,160,185,.05), 0 0px 0px rgba(166,173,201,.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--heebo);
}


a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

button, input{
    border: none;
    outline: none;
}

button{
    cursor: pointer;
    font-family: var(--heebo);
    font-size: var(--normal-font-size);
}
